.toggle__container {
  width: 70px;
  height: 35px;
  margin: 35px auto;
  position: relative;
  border-radius: 30px;
  background: var(--color-bg-variant);
}

.toggle__btn {
  padding: 10px 6px;
  cursor: pointer;
  font-size: 1rem;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
  color: var(--color-white);
  text-align: center;
}

.btns_left {
  left: 0%;
  top: 0;
  position: absolute;
  width: 50%;
  height: 100%;
  background: var(--color-primary);
  border-radius: 30px;
  transition: var(--transition);
}

.btns_right {
  left: 50%;
  top: 0;
  position: absolute;
  width: 50%;
  height: 100%;
  background: var(--color-primary);
  border-radius: 30px;
  transition: var(--transition);
}
