.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

.portfolio__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.portfolio__item {
  background: var(--color-bg-variant);
  padding: 1.3rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.portfolio__item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}

.portfolio__item_image {
  height: 20rem;
  border-radius: 1.5rem;
  overflow: hidden;
}

.portfolio__item h3 {
  margin: 1.2rem 0 1rem;
}

/* -------------------MEDIA QUERIES (TABLETS)-----------------*/

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
  .portfolio__container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}

/* -------------------MEDIA QUERIES (MOBILE)-----------------*/

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }
  .portfolio__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
